$primary-color: #007bff;

.header {
  background-color: #313131;
  color: #fff;
  padding: 10px 0;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}
.right {
  text-align: right;
}

.main-body {
  padding: 45px 0;
}

.title {
  color: #313131;
}
.form-title {
}

.form {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  margin-left: 20%;
  margin-right: 20%;
}