$primary-color: #007bff;

.header {
  background-color: #313131;
  color: #fff;
  padding: 10px 0;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}
.right {
  text-align: right;
}

.main-body {
  background-color: #F5F5F5;
  padding: 20px 0;
}

.title {
  color: #313131;
}

.form {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
}