
<div class="app-container">
    <div class="header">
    <div class="container">
        <div class="row">
            <div class="col">
                <p class="left">IBM Store Engagement</p>
            </div>
            <div class="col">
                <button class="switch-language" (click)="switchLang()">Switch Language</button>
            </div>
            <div class="col">
                <p class="right">Store Associate</p>
            </div>
        </div>
    </div>
</div>
<router-outlet />
</div>